@import "./variable.scss";

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primaryBackgroundColor;
}

.blur {
  filter: blur(10px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainContainer {
  color: $whiteColor;
}

.input {
  padding: 4px 6px;
  &:focus {
    outline: none;
  }
}

.channelLogo {
  height: 120px;
  width: 152px;
  padding: 12px 8px;
}
.btn {
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}
