$primaryBackgroundColor: #0a0a0f;
$primaryTextColor: #dafffb;
$logoTextColor: #64ccc5;
$secondaryTextColor: #176b87;
$whiteColor: #ffffff;
$logoTextSecondaryColor: #2904fa;
$contractItemBackgroundColor: #171d42;
$secondaryChannelbackgroundColor: #64748b;
